/*
Available icons

Lorem

Markup:

<div style="border-top:1px solid #eee;border-bottom:1px solid #eee;margin-bottom:10px;">
<span class="icon icon-plus icon--fw icon--lg" aria-hidden="true"r></span> .icon-plus
</div>

<div style="border-top:1px solid #eee;border-bottom:1px solid #eee;margin-bottom:10px;">
<span class="icon icon-health icon--fw icon--lg" aria-hidden="true"r></span> .icon-health
</div>

<div style="border-top:1px solid #eee;border-bottom:1px solid #eee;margin-bottom:10px;">
<span class="icon icon-check icon--fw icon--lg" aria-hidden="true"r></span> .icon-check
</div>

<div style="border-top:1px solid #eee;border-bottom:1px solid #eee;margin-bottom:10px;">
<span class="icon icon-clock icon--fw icon--lg" aria-hidden="true"r></span> .icon-clock
</div>

<div style="border-top:1px solid #eee;border-bottom:1px solid #eee;margin-bottom:10px;">
<span class="icon icon-dollar icon--fw icon--lg" aria-hidden="true"r></span> .icon-dollar
</div>

<div style="border-top:1px solid #eee;border-bottom:1px solid #eee;margin-bottom:10px;">
<span class="icon icon-star-full icon--fw icon--lg" aria-hidden="true"r></span> .icon-star-full
</div>



Styleguide 3.3.
*/


$icon-plus: "\E001";
$icon-health: "\E002";
$icon-check: "\E003";
$icon-clock: "\E004";
$icon-dollar: "\E005";
$icon-star-full: "\E006";


.icon-plus:before {
	content: "#{$icon-plus}";
}
.icon-health:before {
	content: "#{$icon-health}";
}
.icon-check:before {
	content: "#{$icon-check}";
}
.icon-clock:before {
	content: "#{$icon-clock}";
}
.icon-dollar:before {
	content: "#{$icon-dollar}";
}
.icon-star-full:before {
	content: "#{$icon-star-full}";
}
