.cards {
    list-style:none;
    padding:20px 0 20px 20px;
    margin:0;
    font-size:0;
    box-sizing: content-box;
    width: 97%;
    float: left;
}
.card {
    font-size:16px;
    width:20%;
    height:220px;
    position:relative;
    padding:0;
    padding:4px;
    display:inline-block;
    box-sizing:border-box;
    cursor:pointer;
}
.card-header {
    font-size:16px;
    width:20%;    
    position:relative;
    padding:0;
    padding:4px;
    display:inline-block;
    box-sizing:border-box;
    color:#fff;
    text-transform:uppercase;
    font-weight:600;
    line-height:21px;
    text-align:center;    
}

.information {
    position: absolute;
    background: #fff;
    width: 380px;
    top: 91px;
    left: 20px;
    padding: 10px;
}

.card--complete {
    .card-background {
        background:rgba(255,255,255,1) !important;
        mix-blend-mode:normal;
        transition: none !important;
    }
    &:hover { 
        transition: none !important;
    }
    .card-heading {
        color:#d44138;        
    }
    .card-icon {
        color:#d44138;
    }
    .card-icon-ring {
        border-color:#d44138;        
    }
    .card-meta {
        border-color:#db5f57;
        color:#d44138;
    }
    .card-count {
        color:#c1adea;
    }
    .card-icon-inner {
        transform:translateX(-34px);
    }
}
.card-background {
    position:absolute;
    top:4px;
    left:4px;
    bottom:4px;
    right:4px;
    background:rgba(255,255,255,0.3);
    border:1px solid rgba(255,255,255,0.5);
    mix-blend-mode:soft-light;
    z-index:1;
    border-radius:2px;
    //transition: background 0.2s 0 ease;  /* Mouse leave: immediate */
}
.card:hover .card-background {
    //transition: background 0.2s 200ms ease; /* Mouse enter: delay */
    background:rgba(255,255,255,0.5);    
}
.card-body {
    position:absolute;
    top:4px;
    left:4px;
    bottom:4px;
    right:4px;
    z-index:2;
    padding:21px;
    padding-top:73px;
}
.card-heading {
    color:#fff;
    font-size:17px;
    text-transform:uppercase;
    font-weight:600;
    line-height:21px;
    display:block;
}
.card-icon {
    color:#fff;
    white-space: nowrap;
    width:34px;
    height:34px;           
    position:absolute;
    top:21px;
    left:21px;
    font-size:0;
    overflow:hidden;
    .icon {
        font-size:26px;
        text-align:center;
        width:34px;
        height:34px;
        display:inline-block;
        line-height:36px; 
    }
    &:hover .card-icon-inner {
        transform:translateX(-34px);
    }
}
.card-icon-inner {        
    transform:translateX(0);
    transition:transform 200ms ease;
}


.card-icon-ring {
    box-sizing:content-box;
    border:1px solid rgba(255,255,255,0.5);
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    border-radius:50%;
    mix-blend-mode:soft-light;
    &.fulfilled {
        background-color: #00cc99;
    }
}
.card-meta {
    position:absolute;
    right:21px;
    left:21px;
    bottom:18px;
    color:rgba(255,255,255,0.5);
    mix-blend-mode:soft-light;
    font-weight:600;
    font-size:11px;
    text-transform:uppercase;
    border-top:1px solid rgba(255,255,255,0.2);
    padding-top:8px;
}
.card-desc {
    display:none;
    position:absolute;
    top:10px;
    left:10px;
    background:transparent;
    height:200px;
    width:100%;
    overflow:hidden;
    font-size:10px;
    color:#fff;    
}
.card:hover .card-desc {
    display:block;
}
.card-count {
    position: absolute;
    top: 15px;
    right: 15px;
    color:rgba(255,255,255,0.5);
}
.card-count--subtr,
.card-count--add {
    //display: none;
    display: inline-block;
    width: 30px;
    text-align: center;
}
.intro {
    width:100% !important;
    text-align:center;
}
.intro-name {
    font-size:36px;
    color:#fff;    
    font-weight:300;
    margin:12px 0;
}
.intro-info {
    font-size:14px;
    color:#fff;
    margin-bottom:3em;
    display:block;
}
.row--free {
    text-align:center;
}
.card--free {
    width:60%;    
    height:280px;
    .card-body {
        padding-top:21px;
        .card-heading {
            margin-bottom:1em;
        }
    }
    textarea {
        width:100%;
        height:150px;
        font-size:16px;
    }
}

@media (max-width:1900px) {
    /*.card {
        width:12.5%;
    }*/
    .intro {
        width:25%;
    }
}
@media (max-width:1800px) {
    /*.card {
        width:14.285%;
    }*/
    .intro {
        width:28.571%;
    }
}
@media (max-width:1600px) {
    /*.card {
        width:16.667%;
    }*/
    .intro {
        width:33.334%;
    }
}
@media (max-width:1400px) {
    /*.card {
        width:20%;
    }*/
    .intro {
        width:40%;
    }
}
@media (max-width:1200px) {
    /*.card {
        width:25%;
    }*/
    .intro {
        width:50%;
    }
}
@media (max-width:1000px) {
    /*.card {
        width:33.333%;
    }*/
    .intro {
        width:66.666%;
    }
}
@media (max-width:800px) {
    /*.card {
        width:50%;
    }*/
    .intro {
        width:100%;
    }
}
@media (max-width:500px) {
    /*.card {
        width:100%;
    }*/
    .intro {
        width:100%;
        height: 476px;
    }
    .intro-status {
        font-size: 20px;
    }
}


.tooltip:hover:before,
.tooltip:hover:after{    
    visibility:visible;
    opacity:1;
   	-webkit-transition-delay:.7s;
    transition-delay:.7s;
}		
.tooltip:after{        
    visibility:hidden;
    opacity:0;
    background: #d44138;    
    border-radius: 5px;
    top: 110px;
    color: #fff;
    border:solid 2px #fff;
    content: attr(data-desc);
    left: 10%;
    padding: 5px 15px;
    position: absolute;
    z-index: 998;
    width: 220px;
    text-transform:none;
    font-weight:normal;
    font-size:12px;    
    text-align:left;
}
.judgment--row .card.tooltip:last-child:after{
    left:auto;
    right:10%;
}	
.tooltip:before{
    visibility:hidden;
    opacity:0;
    border: solid;
    border-color: #fff transparent;
    border-width: 0 6px 6px 6px;
    top: 104px;
    content: "";
    left: 20%;
    position: absolute;
    z-index: 99;
}
.card--complete.tooltip:before{
    border-color: #d44138 transparent;
}